*{
    margin: 0;
 }
 
 
 body {
  background-image: url("/img/Elden_ring.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
 
 #Haut{
     background-color: transparent;
     width: 100%;
     height: 110px;
     flex-shrink: 0;
 }
 
 .accueil{
   -webkit-text-stroke: 3px #000000;
   color: blue;
   background-color: transparent;
   border-color: transparent;
   font-family: "Inter-Regular", Helvetica;
   font-size: 64px;
   font-weight: 400;
   height: 96px;
   left: 38%;
   letter-spacing: 0;
   line-height: normal;
   position: absolute;
   text-align: center;
   top: 1%;
   width: 400px;
   border: 0px;
 
 }
 
 .accueil:disabled {
   pointer-events: none;
 }
 
 .accueil:hover {
   transform: translateY(-2px);
 }
 
 .accueil:active {
   box-shadow: none;
   transform: translateY(0);
 }
 
 
 
 
 .barre{
     width: 100px;
     height: 100px;
 }
 
 .barre .barre-de-recherche{
     height: 100px;
     left: 15px;
     object-fit: cover;
     position: fixed;
     top: 7px;
     width: 100px;
 }
 
 .Image{
     width: 569;
     height: 335;
 }
 
 .Image .image-de-garde{
     position: absolute;
     width: 569;
     height: 335;
     top: 30%;
     left: 55%;
     object-fit: cover;
 }
 
 .text-garde{
     font-family: "Inter-Regular", Helvetica;
     position: absolute;
     height: 72px;
     top: 240px;
     left: 333px;
     color: white;
     font-size: 30px;
     text-align: center;
     letter-spacing: 0;
     line-height: normal;
 }
 
 .sidenav {
     height: 150%;
     width: 250px;
     position: absolute;
     z-index: 1;
     top: 15.6%;
     left: -250px;
     background-color: transparent;
     background-size: auto;
     padding-top: 60px;
     transition: left 0.5s ease;
     border-top-right-radius: 2px;
     border-bottom-right-radius: 30px;
   }
   
   /* Sidenav menu links */
   .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: White;
     display: block;
     transition: 0.3s;
   }
   
   .sidenav a:hover {
     color: rgb(0, 145, 255);
   }
   
   .sidenav ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
   }
   
   /* Active class */
   .sidenav.active {
     left: 0;
   }
   
   /* Close btn */
   .sidenav .close {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
   }
   
   /* Icône burger */
   .burger-icon{
     height: 100px;
     left: 15px;
     object-fit: cover;
     position: fixed;
     top: 1%;
     width: 100px;
     background-color:transparent;
     box-shadow: none;
     border-radius: 30%;
     border-color: transparent;
 
   }
 
  .logo-burger{
     height: 120px;
   }
   
 
 .image_fond{
     position: absolute;
     width: 569;
     height: 335;
     top: 30%;
     left: 55%;
     object-fit: cover;
     z-index: 1;
 }
 
a.Accueil{
    color: rgb(241, 200, 13)
} 

.cadre {
  position: absolute;
  width: 600px;
  height: 300px;
  flex-shrink: 0;
  left: 4%;
  top: 1%;
  border-radius: 45px;
  border: 8px solid rgb(248, 216, 7);
  transform: translate(135%, 80%);
}

.cadre2 {
  position: absolute;
  width: 600px;
  height: 300px;
  flex-shrink: 0;
  left: 13%;
  border-radius: 45px;
  border: 8px solid rgb(248, 216, 7);
  transform: translate(10%, 200%);
}

.image{
  width:601px;
  border-radius: 33px;
  height: 300px;

  
}

.next {
  cursor: pointer;
  position: absolute;
  top: 54%;
  left: 96%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px ;
  user-select: none;
  -webkit-user-select: none;
}
.prev{
  cursor: pointer;
  position: absolute;
  top: 54%;
  left: 59.3%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgb(31, 30, 30);
}

.image2{
  width:601px;
  border-radius: 33px;
  height: 300px;
}

.next2 {
  cursor: pointer;
  position: absolute;
  top: 125%;
  left: 54.3%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px ;
  user-select: none;
  -webkit-user-select: none;
}
.prev2{
  cursor: pointer;
  position: absolute;
  top: 125%;
  left: 17.7%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
}

.prev2:hover,
.next2:hover {
  background-color: rgb(31, 30, 30);
}




.text{
 
  color: white;
}