*{
    margin: 0;
 }
 @media only screen and (max-width: 1500px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;  
  }

  .container {
      width: 100%;
  }
}

@media (min-width: 100px){
  .degrade {
    width: 100%;
    height: 80%;
    position: fixed;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 32.6%, rgba(255, 255, 255, 0) 63.85%);
  }
}
 

 
 
 body {
  max-width: 100%;
  background-image: url("/img/Elden_ring.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  top: 0;
}
 
 #Haut{
     background-color: transparent;
     width: 100%;
     height: 110px;
     flex-shrink: 0;
 }
 .opaque {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: black;
  opacity: 0.5;
}
 
 .accueil{
   -webkit-text-stroke: 3px #000000;;
   background-color: transparent;
   border-color: transparent;
   font-family: "Inter-Regular", Helvetica;
   font-size: 64px;
   font-weight: 400px;
   height: 96px;
   left: 39%;
   letter-spacing: 0;
   line-height: normal;
   position: absolute;
   text-align: center;
   top: 1%;
   width: 400px;
   border: 0px;
 
 }
 
 .accueil:disabled {
   pointer-events: none;
 }
 
 .accueil:hover {
   transform: translateY(-2px);
 }
 
 .accueil:active {
   box-shadow: none;
   transform: translateY(0);
 }
 
 
 
 .barre{
     width: 100px;
     height: 100px;
 }
 
 .barre .barre-de-recherche{
     height: 100px;
     left: 15px;
     object-fit: cover;
     position: fixed;
     top: 7px;
     width: 100px;
 }
 

 
 .text-garde{
     font-family: "Inter-Regular", Helvetica;
     position: relative;
     height: 72px;
     top: 240px;
     left: 333px;
     color: white;
     font-size: 30px;
     text-align: center;
     letter-spacing: 0;
     line-height: normal;
 }
 
 .sidenav {
     height: 80%;
     width: 250px;
     position: absolute;
     z-index: 1;
     top: 15.6%;
     left: -250px;
     background-color: transparent;
     background-size: auto;
     padding-top: 60px;
     transition: left 0.5s ease;
     border-top-right-radius: 2px;
     border-bottom-right-radius: 30px;
   }
   
   /* Sidenav menu links */
   .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: White;
     display: block;
     transition: 0.3s;
   }
   
   .sidenav a:hover {
     color: rgb(255, 255, 0);
   }
   
   .sidenav ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
   }
   
   /* Active class */
   .sidenav.active {
     left: 0;
   }
   
   /* Close btn */
   .sidenav .close {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
   }
   
   /* Icône burger */
   .burger-icon{
     height: 100px;
     left: 15px;
     object-fit: cover;
     position: fixed;
     top: 1%;
     width: 100px;
     background-color:transparent;
     box-shadow: none;
     border-radius: 30%;
     border-color: transparent;
 
   }
 
  .logo-burger{
    position: absolute;
     height: 120px;
   }
   
 
 .image_fond{
     position: absolute;
     width: 569;
     height: 335;
     top: 30%;
     left: 55%;
     object-fit: cover;
     z-index: 1;
 }
 
a.Accueil{
  font-family: serif;
    color: rgb(241, 200, 13);
    text-shadow: 0 0 54px rgb(198, 231, 12);
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(241, 200, 13);
} 

.cadre {
  position: relative;
  width: 32%;
  flex-shrink: 1;
  left: 18%;
  margin-top: -33%;
  border-radius: 45px;
  border: 8px solid rgb(248, 216, 7);
  transform: translate(135%, 80%);
}

.cadre2 {
  position: relative;
  width: 32%;
  left: 9%;
  margin-top: -56%;
  border-radius: 45px;
  border: 8px solid rgb(248, 216, 7);
  transform: translate(10%, 200%);
}

.cadre3 {
  position: relative;
  width: 81.8%;
  margin-top: 40%;
  flex-shrink: 0;
  border-radius: 45px;
  border: 8px solid rgb(248, 216, 7);
  transform: translate(10%, 200%);
}

.image{
  width: 100%;
  border-radius: 33px;
  height: auto;

  
}

.next {
  cursor: pointer;
  position: absolute;
  top: 51%;
  left: 92.3%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px ;
  user-select: none;
  -webkit-user-select: none;
}
.prev{
  cursor: pointer;
  position: absolute;
  top: 51%;
  left: 63.2%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgb(31, 30, 30);
}

.image2{
  max-width:100%;
  border-radius: 33px;
  height: 100%;
}

.next2 {
  cursor: pointer;
  position: absolute;
  top: 135%;
  left: 42.1%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px ;
  user-select: none;
  -webkit-user-select: none;
}
.prev2{
  cursor: pointer;
  position: absolute;
  top: 135%;
  left: 12.9%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
}

.prev2:hover,
.next2:hover {
  background-color: rgb(31, 30, 30);
}

.text{
  position: relative;
  color: white;
  font-size: 1.8rem;
  margin-left: 12%;
  margin-top: 11%;
  
}

.text2{
  position: relative;
  color: white;
  font-size: 1.8rem;
  margin-left: 54%;
  margin-top: 36%;
}

.text3{
  color: white;
  font-size: 1.8rem;
  margin: 1%;
}