*{
  margin: 0;
} 


@media only screen and (max-width: 600px) {

  body {
    background-image:url(img/Resident-Evil-Village-ss1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
  }

  .container {
      width: 100%;
  }
}

.degrade {
    width: 100%;
    height: 1000px;
    top: -10px;
    position: fixed;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 32.6%, rgba(255, 255, 255, 0) 63.85%)
}



@media only screen and (min-width: 620px) {
.lienjump {
  color : red;
  font-style: normal;
  font-weight: bold;
}
}


.opaque {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0) 63.85%;
  opacity: 0.5;
}

.video-accueil {
  width: 950px;
  height: 500px;
  transform: translate(29%, 42%);
}

.nom_du_jeu {
  position: relative;
  text-align: center;
  color: transparent;
  position: absolute;
  font-size: 80px;
  top: 5%;
  left: 28%;
  font-style: normal;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
}

@media screen and (min-width: 320px) {
.text {
  position: relative;
  text-align: left;
  color: transparent;
  position: absolute;
  font-size: 4vh;
  width: 70%;
  height: 20%;
  top: 105%;
  left: 15%;
  font-style: normal;
  font-weight: bold;
  color: #D9D9D9;
}
}

@media only screen and (min-width: 620px) {
.text2 {
  position: relative;
  text-align: left;
  color: transparent;
  position: absolute;
  font-size: 4vh;
  width: 80%;
  height: 80%;
  top: 162%;
  right: 10%;
  font-style: normal;
  font-weight: bold;
  color: #D9D9D9;
}
}
@media only screen and (min-width: 620px) {
  main .rewards{
    position: absolute;
    color: white;
    font-size: 15px;
    background-color: #00000031;
    border: 4px solid #666666;
    border-radius: 1.5rem ;
    text-align: center;
    width: 90%;
    transform: translate(5%, 44rem);
  }
}

  main  .scroll{
  position: absolute;
  color: white;
  font-size: 15px;
  border: 4px solid transparent;
  border-radius: 1.5rem ;
  text-align: center;
  width: 90%;
  transform: translate(5%, 57rem);
}
  main .text1{
    position: absolute;
    color: white;
    font-size: 35px;
    text-align: center;
    width: 70%;
    transform: translate(21%, 14rem);
  }

 main .text1 .jumpscare{
  color: red;
  background-color: transparent;
  border: none;
  font-size: 30px
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 15.6%;
  left: -250px;
  background-size: contain;
  padding-top: 60px;
  transition: left 0.5s ease;
  background-color: #343434;
  backdrop-filter: blur(10px);
  border-top-right-radius: 36px;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(200, 3, 3);
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon{
  height: 100px;
  left: 2%;
  object-fit: cover;
  position: fixed;
  top: 1%;
  width: 100px;
  background-color:transparent;
  box-shadow: none;
  border-radius: 30%;
  border-color: red;
  position: absolute;

}

.logo-burger{
  height: 120px;
  margin-left: -28%;
  margin-top: -8%;
  cursor: pointer;
}
.logo-burger:hover{
  filter: invert(27%) sepia(78%) saturate(7472%) hue-rotate(358deg) brightness(89%) contrast(129%);
 }